# Ignore node_modules, Docker will install its own
node_modules

# Ignore the compiled 'dist' folder (we'll build it inside)
dist

# Ignore the .env file (we'll inject it)
.env

# Ignore local uploads
uploads/
temp-uploads/